# Pandas에서 엑셀 및 텍스트 파일 읽기
- python에서 데이터 핸들링 성능을 제공하는 모듈
- 단일 프로세스에서는 최대 효율
- 코딩이 가능하고 응용가능한 엑셀로 받아들여도 됨

## import Module : Module을 사용하겠다.
- Module.function

## import Module as md
- 모듈을 사용할건데, 앞으로는 md라는 이름으로 부르겠다
- 사용 : md.fuction

## from Module import fuction
- 모듈에 포함된 function이라는 함수만 사용하겠다.
- 사용 : function

In [89]:
# 원하는 모듈이 설치되어 있다면 import 명령을 통해 사용하겠다고 선언한다.
import pandas as pd

- 통상 csv는 띄어쓰기로 구분되니 그냥 read_csv 명령으로 읽기만 하면 된다.
- 긴 파일명을 끝까지 입력하지 말고 적당한 곳에서 TAB 키를 누르면 자동완선
- 한글은 encoding 설정이 필수

In [90]:
CCTV_Seoul = pd.read_csv('../data/01. Seoul_CCTV.csv', encoding = 'utf-8')
CCTV_Seoul.head()

,순번,구분,총 계,2015년 이전 설치된 CCTV,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년,2023년
0,NaN,계,"99,515","8,759","5,725","8,537","10,770","10,619","12,855","11,525","9,358","9,379","11,988"
1,1.0,종로구,"2,031",549,158,128,143,142,67,237,82,225,300
2,2.0,중 구,"2,718",275,236,239,372,386,155,364,419,137,135
3,3.0,용산구,"3,258",88,38,295,491,147,335,473,486,500,405
4,4.0,성동구,"4,409",190,352,278,939,457,640,483,366,233,471

## 컬럼 이름 조회
- 변수명.columns : column의 이름만 조회하고 싶을때 사용
- 변수명.columns[i] : index 번호를 대괄호안에 넣으면 해당 컬럼의 이름만 조회가능

In [91]:
CCTV_Seoul.columns

Index(['순번', '구분', '총 계', '2015년 이전 설치된 CCTV', '2015년', '2016년', '2017년',
       '2018년', '2019년', '2020년', '2021년', '2022년', '2023년'],
      dtype='object')

In [92]:
CCTV_Seoul.columns[0]

'순번'

## 컬럼 이름 변경
### rename() 함수 사용
- 변수명.rename(columns = {변수명.columns[인덱스번호]: '바꿀 컬럼명'}, inplace = True)
- inplace = True를 해줘야 데이터가 업데이트 된다.

In [93]:
CCTV_Seoul.rename(columns = {CCTV_Seoul.columns[1] : '구별'}, inplace= True)
CCTV_Seoul.head()

,순번,구별,총 계,2015년 이전 설치된 CCTV,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년,2023년
0,NaN,계,"99,515","8,759","5,725","8,537","10,770","10,619","12,855","11,525","9,358","9,379","11,988"
1,1.0,종로구,"2,031",549,158,128,143,142,67,237,82,225,300
2,2.0,중 구,"2,718",275,236,239,372,386,155,364,419,137,135
3,3.0,용산구,"3,258",88,38,295,491,147,335,473,486,500,405
4,4.0,성동구,"4,409",190,352,278,939,457,640,483,366,233,471

In [94]:
CCTV_Seoul.rename(columns={CCTV_Seoul.columns[2]:'총계'},inplace=True)
CCTV_Seoul.head()

,순번,구별,총계,2015년 이전 설치된 CCTV,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년,2023년
0,NaN,계,"99,515","8,759","5,725","8,537","10,770","10,619","12,855","11,525","9,358","9,379","11,988"
1,1.0,종로구,"2,031",549,158,128,143,142,67,237,82,225,300
2,2.0,중 구,"2,718",275,236,239,372,386,155,364,419,137,135
3,3.0,용산구,"3,258",88,38,295,491,147,335,473,486,500,405
4,4.0,성동구,"4,409",190,352,278,939,457,640,483,366,233,471

In [95]:
CCTV_Seoul = CCTV_Seoul.drop(['순번'], axis = 1)
CCTV_Seoul.head()

,구별,총계,2015년 이전 설치된 CCTV,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년,2023년
0,계,"99,515","8,759","5,725","8,537","10,770","10,619","12,855","11,525","9,358","9,379","11,988"
1,종로구,"2,031",549,158,128,143,142,67,237,82,225,300
2,중 구,"2,718",275,236,239,372,386,155,364,419,137,135
3,용산구,"3,258",88,38,295,491,147,335,473,486,500,405
4,성동구,"4,409",190,352,278,939,457,640,483,366,233,471

In [96]:
CCTV_Seoul.rename(columns={CCTV_Seoul.columns[2]:'2015년 이전 설치'},inplace=True)
CCTV_Seoul.head()

,구별,총계,2015년 이전 설치,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년,2023년
0,계,"99,515","8,759","5,725","8,537","10,770","10,619","12,855","11,525","9,358","9,379","11,988"
1,종로구,"2,031",549,158,128,143,142,67,237,82,225,300
2,중 구,"2,718",275,236,239,372,386,155,364,419,137,135
3,용산구,"3,258",88,38,295,491,147,335,473,486,500,405
4,성동구,"4,409",190,352,278,939,457,640,483,366,233,471

## Excel 파일 읽기
- 변수명 = pd.read_excel('파일경로')

In [97]:
pop_Seoul = pd.read_excel('../data/01. Seoul_Population.xlsx')
pop_Seoul.head()

/opt/anaconda3/envs/ds_study/lib/python3.8/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,동별(1),동별(2),2023 3/4,2023 3/4.1,2023 3/4.2,2023 3/4.3,2023 3/4.4,2023 3/4.5,2023 3/4.6,2023 3/4.7,...,2023 4/4.2,2023 4/4.3,2023 4/4.4,2023 4/4.5,2023 4/4.6,2023 4/4.7,2023 4/4.8,2023 4/4.9,2023 4/4.10,2023 4/4.11
0,동별(1),동별(2),세대 (세대),계 (명),계 (명),계 (명),한국인 (명),한국인 (명),한국인 (명),등록외국인 (명),...,계 (명),계 (명),한국인 (명),한국인 (명),한국인 (명),등록외국인 (명),등록외국인 (명),등록외국인 (명),세대당인구 (명),65세이상고령자 (명)
1,동별(1),동별(2),소계,소계,남자,여자,소계,남자,여자,소계,...,남자,여자,소계,남자,여자,소계,남자,여자,소계,소계
2,합계,소계,4475726,9655918,4660459,4995459,9407540,4552501,4855039,248378,...,4649446,4989353,9386034,4540031,4846003,252765,109415,143350,2.1,1743696
3,NaN,종로구,72304,151127,72222,78905,139945,67625,72320,11182,...,71890,78563,139417,67306,72111,11036,4584,6452,1.93,28764
4,NaN,중구,64609,131825,63661,68164,121405,58788,62617,10420,...,63495,68298,121312,58659,62653,10481,4836,5645,1.87,25920

## Excel 파일 정제
- 엑셀파일 불러오기
- 자료를 읽기 시작하는 행(header)를 지정
- 읽어올 엑셀의 컬럼을 지정(usecols)

In [98]:
pop_Seoul = pd.read_excel('../data/01. Seoul_Population.xlsx', header = 2, usecols = 'B, D, G, J, N')
pop_Seoul.head()

/opt/anaconda3/envs/ds_study/lib/python3.8/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

  동별(2)     소계.1     소계.2    소계.3     소계.5
0    소계  9655918  9407540  248378  1725801
1   종로구   151127   139945   11182    28610
2    중구   131825   121405   10420    25737
3   용산구   230692   216152   14540    39972
4   성동구   285543   278366    7177    48988

## 컬럼의 이름 바꾸기

In [99]:
pop_Seoul.rename(columns = {
    pop_Seoul.columns[0] : '구별',
    pop_Seoul.columns[1] : '인구수',
    pop_Seoul.columns[2] : '한국인',
    pop_Seoul.columns[3] : '외국인',
    pop_Seoul.columns[4] : '고령자'
}, inplace = True)
pop_Seoul.head()

    구별      인구수      한국인     외국인      고령자
0   소계  9655918  9407540  248378  1725801
1  종로구   151127   139945   11182    28610
2   중구   131825   121405   10420    25737
3  용산구   230692   216152   14540    39972
4  성동구   285543   278366    7177    48988

## CCTV 데이터 훑어보기

In [100]:
CCTV_Seoul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   구별           26 non-null     object
 1   총계           26 non-null     object
 2   2015년 이전 설치  26 non-null     object
 3   2015년        26 non-null     object
 4   2016년        26 non-null     object
 5   2017년        26 non-null     object
 6   2018년        26 non-null     object
 7   2019년        26 non-null     object
 8   2020년        26 non-null     object
 9   2021년        26 non-null     object
 10  2022년        26 non-null     object
 11  2023년        26 non-null     object
dtypes: object(12)
memory usage: 2.6+ KB

In [101]:
CCTV_Seoul.loc[:, '총계' : '2023년'] = CCTV_Seoul.loc[:, '총계' : '2023년'].applymap(lambda x: int(x.replace(',', '')))
CCTV_Seoul.head()

,구별,총계,2015년 이전 설치,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년,2023년
0,계,99515,8759,5725,8537,10770,10619,12855,11525,9358,9379,11988
1,종로구,2031,549,158,128,143,142,67,237,82,225,300
2,중 구,2718,275,236,239,372,386,155,364,419,137,135
3,용산구,3258,88,38,295,491,147,335,473,486,500,405
4,성동구,4409,190,352,278,939,457,640,483,366,233,471

In [102]:
CCTV_Seoul.sort_values(by = '총계', ascending= False).head()

,구별,총계,2015년 이전 설치,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년,2023년
0,계,99515,8759,5725,8537,10770,10619,12855,11525,9358,9379,11988
23,강남구,7721,672,814,1280,981,735,787,913,505,588,446
21,관악구,5772,774,447,607,675,663,889,404,549,135,629
22,서초구,5395,227,552,514,1022,422,339,419,565,878,457
12,은평구,5027,524,317,493,361,579,979,386,520,481,387

In [103]:
CCTV_Seoul.sort_values(by = '총계').head()

,구별,총계,2015년 이전 설치,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년,2023년
1,종로구,2031,549,158,128,143,142,67,237,82,225,300
10,도봉구,2378,3,0,68,80,152,149,156,552,557,661
2,중 구,2718,275,236,239,372,386,155,364,419,137,135
11,노원구,3006,156,466,310,162,208,311,382,213,161,637
20,동작구,3024,534,124,245,270,299,312,433,28,372,407

In [104]:
print(CCTV_Seoul['2015년 이전 설치'].unique())

[8759 549 275 88 190 309 8 334 281 37 3 156 524 1126 111 4 303 406 0 1054
 534 774 227 672 223 571]

In [105]:
CCTV_Seoul = CCTV_Seoul[CCTV_Seoul['2015년 이전 설치'] != 0]
CCTV_Seoul['최근증가율'] = (
    (CCTV_Seoul['2015년'] + CCTV_Seoul['2016년'] + CCTV_Seoul['2017년'] + CCTV_Seoul['2018년'] + CCTV_Seoul['2019년']
     + CCTV_Seoul['2020년'] + CCTV_Seoul['2021년'] + CCTV_Seoul['2022년'] + CCTV_Seoul['2023년']) / CCTV_Seoul['2015년 이전 설치']*100)

In [106]:
CCTV_Seoul.sort_values(by = '최근증가율', ascending= False)

,구별,총계,2015년 이전 설치,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년,2023년,최근증가율
15,양천구,4447,4,216,418,566,827,321,352,347,386,1010,111075.0
10,도봉구,2378,3,0,68,80,152,149,156,552,557,661,79166.666667
6,동대문구,3268,8,70,749,670,199,215,229,226,317,585,40750.0
9,강북구,3331,37,68,210,4,375,963,569,298,797,10,8902.702703
3,용산구,3258,88,38,295,491,147,335,473,486,500,405,3602.272727
14,마포구,3155,111,146,446,368,368,494,298,177,124,623,2742.342342
22,서초구,5395,227,552,514,1022,422,339,419,565,878,457,2276.651982
4,성동구,4409,190,352,278,939,457,640,483,366,233,471,2220.526316
11,노원구,3006,156,466,310,162,208,311,382,213,161,637,1826.923077
24,송파구,4031,223,183,126,227,526,1050,237,151,431,877,1707.623318
8,성북구,4578,281,294,572,448,850,713,226,418,355,421,1529.181495
7,중랑구,4512,334,145,153,170,215,1074,976,507,294,644,1250.898204
5,광진구,3828,309,95,42,666,460,712,191,740,273,340,1138.834951
17,구로구,5003,406,248,340,543,531,781,652,685,339,478,1132.26601
16,강서구,3546,303,192,167,416,259,457,362,441,596,353,1070.29703
23,강남구,7721,672,814,1280,981,735,787,913,505,588,446,1048.958333
0,계,99515,8759,5725,8537,10770,10619,12855,11525,9358,9379,11988,1036.145679
2,중 구,2718,275,236,239,372,386,155,364,419,137,135,888.363636
12,은평구,5027,524,317,493,361,579,979,386,520,481,387,859.351145
21,관악구,5772,774,447,607,675,663,889,404,549,135,629,645.736434
25,강동구,3549,571,154,202,273,377,356,614,262,381,359,521.541156
20,동작구,3024,534,124,245,270,299,312,433,28,372,407,466.292135
19,영등포구,4566,1054,209,248,311,657,65,1214,283,341,184,333.206831
1,종로구,2031,549,158,128,143,142,67,237,82,225,300,269.945355
13,서대문구,3793,1126,109,277,416,246,325,441,331,174,348,236.856128

In [107]:
CCTV_Seoul = CCTV_Seoul.drop([0])

In [108]:
CCTV_Seoul

,구별,총계,2015년 이전 설치,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년,2023년,최근증가율
1,종로구,2031,549,158,128,143,142,67,237,82,225,300,269.945355
2,중 구,2718,275,236,239,372,386,155,364,419,137,135,888.363636
3,용산구,3258,88,38,295,491,147,335,473,486,500,405,3602.272727
4,성동구,4409,190,352,278,939,457,640,483,366,233,471,2220.526316
5,광진구,3828,309,95,42,666,460,712,191,740,273,340,1138.834951
6,동대문구,3268,8,70,749,670,199,215,229,226,317,585,40750.0
7,중랑구,4512,334,145,153,170,215,1074,976,507,294,644,1250.898204
8,성북구,4578,281,294,572,448,850,713,226,418,355,421,1529.181495
9,강북구,3331,37,68,210,4,375,963,569,298,797,10,8902.702703
10,도봉구,2378,3,0,68,80,152,149,156,552,557,661,79166.666667
11,노원구,3006,156,466,310,162,208,311,382,213,161,637,1826.923077
12,은평구,5027,524,317,493,361,579,979,386,520,481,387,859.351145
13,서대문구,3793,1126,109,277,416,246,325,441,331,174,348,236.856128
14,마포구,3155,111,146,446,368,368,494,298,177,124,623,2742.342342
15,양천구,4447,4,216,418,566,827,321,352,347,386,1010,111075.0
16,강서구,3546,303,192,167,416,259,457,362,441,596,353,1070.29703
17,구로구,5003,406,248,340,543,531,781,652,685,339,478,1132.26601
19,영등포구,4566,1054,209,248,311,657,65,1214,283,341,184,333.206831
20,동작구,3024,534,124,245,270,299,312,433,28,372,407,466.292135
21,관악구,5772,774,447,607,675,663,889,404,549,135,629,645.736434
22,서초구,5395,227,552,514,1022,422,339,419,565,878,457,2276.651982
23,강남구,7721,672,814,1280,981,735,787,913,505,588,446,1048.958333
24,송파구,4031,223,183,126,227,526,1050,237,151,431,877,1707.623318
25,강동구,3549,571,154,202,273,377,356,614,262,381,359,521.541156

## 인구 현황 데이터 훑어보기

In [109]:
pop_Seoul.head()

    구별      인구수      한국인     외국인      고령자
0   소계  9655918  9407540  248378  1725801
1  종로구   151127   139945   11182    28610
2   중구   131825   121405   10420    25737
3  용산구   230692   216152   14540    39972
4  성동구   285543   278366    7177    48988

In [110]:
pop_Seoul = pop_Seoul.drop([0])

In [111]:
pop_Seoul

      구별     인구수     한국인    외국인     고령자
1    종로구  151127  139945  11182   28610
2     중구  131825  121405  10420   25737
3    용산구  230692  216152  14540   39972
4    성동구  285543  278366   7177   48988
5    광진구  351959  336604  15355   56173
6   동대문구  359113  341238  17875   66440
7    중랑구  387940  382797   5143   77949
8    성북구  440089  427671  12418   79739
9    강북구  294804  290155   4649   68119
10   도봉구  310133  307740   2393   69508
11   노원구  504423  499989   4434   95384
12   은평구  471155  467098   4057   92820
13  서대문구  321379  307441  13938   57632
14   마포구  375639  364257  11382   57462
15   양천구  440591  437401   3190   75420
16   강서구  569978  564339   5639  100929
17   구로구  416815  393929  22886   79150
18   금천구  242076  228611  13465   44793
19  영등포구  398290  375586  22704   66975
20   동작구  390740  380154  10586   69944
21   관악구  500582  485172  15410   84664
22   서초구  410766  406404   4362   64761
23   강남구  546291  540957   5334   85288
24   송파구  661515  655744   5771  107605
25   강동구  462453  458385   4068   81739

In [112]:
pop_Seoul['외국인비율'] = pop_Seoul['외국인'] / pop_Seoul['인구수'] * 100
pop_Seoul['고령자비율'] = pop_Seoul['고령자'] / pop_Seoul['인구수'] * 100

In [113]:
pop_Seoul.head()

    구별     인구수     한국인    외국인    고령자     외국인비율      고령자비율
1  종로구  151127  139945  11182  28610  7.399075  18.931098
2   중구  131825  121405  10420  25737  7.904419  19.523611
3  용산구  230692  216152  14540  39972  6.302776  17.326999
4  성동구  285543  278366   7177  48988  2.513457  17.156085
5  광진구  351959  336604  15355  56173  4.362724  15.960098

In [114]:
data_result = pd.merge(CCTV_Seoul, pop_Seoul, on = '구별')
data_result.head()

,구별,총계,2015년 이전 설치,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년,2023년,최근증가율,인구수,한국인,외국인,고령자,외국인비율,고령자비율
0,종로구,2031,549,158,128,143,142,67,237,82,225,300,269.945355,151127,139945,11182,28610,7.399075,18.931098
1,용산구,3258,88,38,295,491,147,335,473,486,500,405,3602.272727,230692,216152,14540,39972,6.302776,17.326999
2,성동구,4409,190,352,278,939,457,640,483,366,233,471,2220.526316,285543,278366,7177,48988,2.513457,17.156085
3,광진구,3828,309,95,42,666,460,712,191,740,273,340,1138.834951,351959,336604,15355,56173,4.362724,15.960098
4,동대문구,3268,8,70,749,670,199,215,229,226,317,585,40750.0,359113,341238,17875,66440,4.977542,18.501140

## 년도별 데이터 컬럼 삭제
- del : 한 개의 컬럼을 삭제할 때 용이
- drop() : 여러개의 row나 columns을 삭제할 때 용이

In [115]:
del data_result['2015년 이전 설치']

In [116]:
data_result = data_result.drop(['2015년','2016년', '2017년', '2018년','2019년', '2020년', '2021년'],  axis = 1)

In [117]:
data_result.head()

,구별,총계,2022년,2023년,최근증가율,인구수,한국인,외국인,고령자,외국인비율,고령자비율
0,종로구,2031,225,300,269.945355,151127,139945,11182,28610,7.399075,18.931098
1,용산구,3258,500,405,3602.272727,230692,216152,14540,39972,6.302776,17.326999
2,성동구,4409,233,471,2220.526316,285543,278366,7177,48988,2.513457,17.156085
3,광진구,3828,273,340,1138.834951,351959,336604,15355,56173,4.362724,15.960098
4,동대문구,3268,317,585,40750.0,359113,341238,17875,66440,4.977542,18.501140

In [118]:
del data_result['2022년']
del data_result['2023년']

In [119]:
data_result.head()

     구별    총계        최근증가율     인구수     한국인    외국인    고령자     외국인비율      고령자비율
0   종로구  2031   269.945355  151127  139945  11182  28610  7.399075  18.931098
1   용산구  3258  3602.272727  230692  216152  14540  39972  6.302776  17.326999
2   성동구  4409  2220.526316  285543  278366   7177  48988  2.513457  17.156085
3   광진구  3828  1138.834951  351959  336604  15355  56173  4.362724  15.960098
4  동대문구  3268      40750.0  359113  341238  17875  66440  4.977542  18.501140

## 인덱스 변경
- set_index()
- 선택한 컬럼을 데이터 프레임의 인덱스로 지정

In [120]:
data_result.set_index('구별', inplace = True)
data_result.head()

        총계        최근증가율     인구수     한국인    외국인    고령자     외국인비율      고령자비율
구별
종로구   2031   269.945355  151127  139945  11182  28610  7.399075  18.931098
용산구   3258  3602.272727  230692  216152  14540  39972  6.302776  17.326999
성동구   4409  2220.526316  285543  278366   7177  48988  2.513457  17.156085
광진구   3828  1138.834951  351959  336604  15355  56173  4.362724  15.960098
동대문구  3268      40750.0  359113  341238  17875  66440  4.977542  18.501140